

 @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }

  body {
    font-family: 'Roboto', Arial, sans-serif;
  }

  a {
   color: rgb(189, 14, 160); /* Цвет текста */
  }

  a:hover {

    color: orange;
    
    }

    a:active {

      color: red;
      
      }
      
.card-body {
  background-color: hsl(174, 56%, 96%);
}


.text-color {
    color:red;
}

.nav-background {
    background-color: darkgray;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.product-box{
    gap: 32px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
.btn-primary {
    animation: rotate-scale-up 0.65s linear both;
}

.h1{
  margin-top: 30px;
  padding-left: 0%;
  margin-bottom: 30px;
  color: rgba(0, 110, 255, 0.918);
}
 .card_sale{
  position: relative;
} 
.card_sale::after{
  content: "Новинка";
  width: 35px;
  background-color: dark;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: absolute;
  top: 8px;
  right: 8px;

}