

 @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }

 
  a {
   color: rgb(189, 14, 160); /* Цвет текста */
  }

.card-body {
  background-color: hsl(174, 56%, 96%);
}


.text-color {
    color:red;
}

.nav-background {
    background-color: darkgray;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.product-box{
    gap: 32px;
    flex-wrap: wrap;
}
.btn-primary {
    animation: rotate-scale-up 0.65s linear both;
}
